body {
  background-color: #BCD7FF;
  margin: 2em;
  padding: 2em;
}
#arrowUp {
  position: absolute;
  height: 4em;
  left: 32em;
  top: 0.5em;
}
#arrowLeft {
  position: absolute;
  width: 4em;
  left: 15.5em;
  top: 17em;
}
#arrowRight {
  position: absolute;
  width: 4em;
  left: 51.5em;
  top: 17em;
}
#arrowDown {
  position: absolute;
  height: 4em;
  left: 32em;
  top: 36em;
}
#myCanvas {
  position: absolute;
  left: 20em;
  top: 5em;
  width: 30em;
  height: 30em;
  border:5px solid #326056;
  border-radius: 25px;
}
#cubeCanvas {
  position: absolute;
  padding: 0em;
  margin: 0em;
  width: 6em;
  height: 6em;
  left: 70em;
  top: 1em;
}
